<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- System styles -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- jQuery (for Bootstrap JavaScript) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div id="groupListContainer" class="mx-auto w-75">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Users</th>
            <th scope="col">Action  <button class="addGroupBtn btn btn-secondary">Add group</button> <a href="/" class="btn btn-primary">Manage Users</a></th>
        </tr>
        </thead>
        <tbody id="groupList">
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        fetchGroupData();
        $('body').on('click', '.viewGroupBtn', function() {
            const groupId = $(this).data('id');
            showGroupDetails(groupId);
        });

        $('body').on('click', '.deleteGroupBtn', function() {
            const groupId = $(this).data('id');
            deleteGroup(groupId);
        });

        $('body').on('click', '.addGroupBtn', function() {
            showGroupForm();
        });

        $('body').on('click', '.editGroupBtn', function() {
            const userId = $(this).data('id');
            showEditGroupForm(userId);
        });

        $('body').on('click', '.close, #GroupDetailsModal', function() {
            $('#groupDetailsModal, .group-details-content').css('display', 'none');
        });

        $('body').on('click', '#sendGroupButton', function() {
            addGroup();
        });

        $('body').on('click', '#updateGroupButton', function() {
            const groupId = $(this).data('id');
            updateGroup(groupId);
        });
    });
</script>
<script src="../js/groups.js"></script>
<!-- Kontener na modal -->
<div id="groupDetailsModal" class="group-details-modal">
</div>
<div class="group-details-content">
    <div id="groupDetailsContent">
        <!-- Tutaj zostaną wyświetlone szczegóły użytkownika -->
    </div>
</div>
</body>
</html>
