<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- System styles -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- jQuery (for Bootstrap JavaScript) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div id="userListContainer" class="mx-auto w-75">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Group</th>
            <th scope="col">Action  <button class="addUserBtn btn btn-secondary">Add user</button> <a href="/groupList" class="btn btn-primary">Manage Groups</a></th>
        </tr>
        </thead>
        <tbody id="userList">
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        fetchUserData();
        $('body').on('click', '.viewBtn', function() {
            const userId = $(this).data('id');
            showUserDetails(userId);
        });

        $('body').on('click', '.deleteBtn', function() {
            const userId = $(this).data('id');
            deleteUser(userId);
        });

        $('body').on('click', '.addUserBtn', function() {
            showUserForm();
        });

        $('body').on('click', '.editBtn', function() {
            const userId = $(this).data('id');
            showEditUserForm(userId);
        });

        $('body').on('click', '.close, #userDetailsModal', function() {
            $('#userDetailsModal, .user-details-content').css('display', 'none');
        });

        $('body').on('click', '#sendButton', function() {
            addUser();
        });

        $('body').on('click', '#updateButton', function() {
            const userId = $(this).data('id');
            updateUser(userId);
        });
    });
</script>
<script src="../js/users.js"></script>
<!-- Kontener na modal -->
<div id="userDetailsModal" class="user-details-modal">
</div>
<div class="user-details-content">
    <div id="userDetailsContent">
        <!-- user's detail -->
    </div>
</div>
</body>
</html>
